<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("header.ejs")%>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="container">
      <h1 class="display-1">Dashboard</h1>
      <p>Wow! such empty</p>
    </div>
    <%- include("footer.ejs")%>
  </body>
</html>
