<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("header") %>
  </head>
  <body>
    <div class="navbar">
      <ul class="nav">
        <a href="/user/dashboard"><li>Home</li></a>
        <a href="/user/profile"><li>Profile</li></a>
      </ul>
    </div>
    <%- include("footer") %>
  </body>
</html>
